<section class="full-height" layout="column" flex>

    <div ng-include layout="column" src="'application/shared/header/header.html'"></div>

    <md-content ng-show="projects" class="light-primary md-padding" layout="row" layout-align="center start" flex>

      <div layout="column" flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" class="md-padding">

        <md-card class="accent" layout="row" layout-align="center center" flex>
          <h2 class="md-title md-padding">
            Projects
          </h2>
          <span flex></span>
          <md-button ng-click="createRoom()" class="md-primary md-mini md-fab">
            <i class="fa fa-plus"></i>
          </md-button>
        </md-card>

        <md-card class="md-padding"  ng-repeat="project in projects" ng-click="goToRoom(project.id)">
          <p>{{project.name}}</p>
        </md-card>

        </div>

    </md-content>

</section>
