<section class="full-height" layout="column" flex>

  <div ng-include layout="column" src="'application/shared/header/header.html'"></div>

  <md-content class="light-primary md-padding" layout="row" layout-align="center start" flex>

    <div layout="column" flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" class="md-padding">

      <md-card class="accent text" layout="row" layout-align="center center">
        <h2 class="md-title md-padding">
          Add Project
        </h2>
        <span flex></span>
      </md-card>

      <md-card layout="column" class="md-padding">
        <md-input-container flex>
          <label>Room Name</label>
          <input ng-model="roomInfo.room.name">
        </md-input-container>

        <md-input-container flex>
          <label>Project Name</label>
          <input ng-model="roomInfo.project_name">
        </md-input-container>

        <div layout="row" layout-align="end center">
          <md-button ng-click="createRoom()" class="md-primary md-raised md-padding">
            <i class="fa fa-plus"></i>
            Add Project
          </md-button>
        </div>
      </md-card>

   </div>
    </md-content>
  </section>
